# Dependencias
node_modules

# Builds
dist
dist-ssr

# Caché del compilador de TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local
